body{
    background-color: #FFFFFF;
}

/* Global */

input{
    width: 400px;
}

/*Home*/

/* 1. Abschnitt */ 
.headList{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.title{
    font-size: 16px;
}
.chosen{
    color: blue;
    cursor: pointer;
}
.headLeft{
    margin-left: 4%;
    float: left;
    cursor: pointer;
}
.headRight{
    margin-right: 4%;
    float: right;
    cursor: pointer;
}
.headRight:hover{
    font-weight: bold;
    color: #0101DF;
}

/*2. Abschnitt*/

.banner{
    margin-top: 1%;
    clear: both;
    width: 100%;
    height: 250px;
    background-color: #5882FA;
}

.bannerText{
    padding-top: 1%;
    color: white;
    text-align: center;
}

.bannerHeader{
    font-size: 50px;
}
.signUpButton{
    display: flex;
    margin-left: 41%;
    width: 18%;
    height: 20%;
    background-color: #04B404;
    justify-content: center;
    align-items: center;
    border-radius: 6%;
    cursor: pointer;
    font-size: 18px;
}
.signUpButton:hover{
    background-color: green;
}

/*3. Abschnitt*/

.container{
    margin-top: 1%;
    margin-left: 20%;
    width: 60%;
}

.col-sm-4{
    text-align: center;
}



/*signUp + login*/

.userdata{
    font-size: 20px;
    margin-left: 22%;
    margin-top: 2%;
    
}

input{
    border-radius: 5px;
}




/* userHome */

.auswahl:hover{
     color: #0101DF;
     font-weight: bold;
     cursor: pointer;
}
.headRightNew{
    margin-right: 4%;
    float: right;
}


.umfrageBox{
    margin-left: 41%;
}

.umfrageButton{
    float: left;
    display: flex;
    margin-right: 3%;
    width: 15%;
    height: 20%;
    background-color: #04B404;
    justify-content: center;
    align-items: center;
    border-radius: 6%;
    font-weight: bold;
    font-size: 17px;
}

.bannerButtonAuswahl{
    background-color: green;
}


/* Setting */

.settingPos{
    padding-top: 10px;
    margin-left: 40%;
}

