<div class="headlist clearfix">
            <div class="headLeft title">VoteDOM</div>
            <div class="headLeft">Home</div>
            <div class="headRight">Login</div>
            <div class="headRight"> <a href="#/test">Sign Up</a></div>
        </div>
        
        <div class="banner ">
            <div class="bannerText">
                <h1>VoteDOM</h1>
                <p>Erstelle deine eignen Umfragen</p>
                <div class="signUpButton">Sign Up</div>
            </div>
        </div>
     
     
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img style="margin-left: 20px;"widt="70" height="70" src="/bilder/blitz.png">
                    <h1>Schnell</h1>
                    <p>
                        Generiere Blitzschnell neue Umfragen und schau dir in Echtzeit 
                        die Veränderungen von deiner Umfrage an. Durch die Anzeige mit 
                        Graphen siehst du schnell auf einem Blick das Ergebnis
                    </p>
                </div>
                <div class="col-sm-4">
                    <img style="margin-left: 20px;"widt="70" height="70" src="/bilder/erde.png">
                    <h1>Überall</h1>
                    <p>
                        Egal ob mit Desktop-Computer, Smartphone oder Tablet, VoteDOM
                        steht für dich immer zur Verfügung. Ob an regnerischen oder sonnigen Tagen
                        auf uns ist immer verlass.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img style="margin-left: 20px;"widt="70" height="70" src="/bilder/team.png">
                     <h1>Zusammen</h1>
                     <p>
                         Allein macht eine Umfrage wenig Sinn, aus diesem Grund haben wir das Teilen
                         der Umfragen so einfach und schnell wie möglich gestaltet. Wenige klicks und
                         deine Freunde können an der Umfrage teilnehmen.
                     </p>
                </div>
            </div>
        </div>       
      