<div class="headlist clearfix" >
            <div class="headLeft title" ng-click="go('/userHome')">VoteDOM</div>
            <div class="headLeft" ng-click="go('/userHome')">Home</div>
              <div>{{test}}</div>
            <div class="headRightNew auswahl" ng-click="logout()">Logout</div>
            <div class="headRightNew chosen" ng-click="go('/settings')">Settings</div>
            <div class="headRightNew">Hi {{userName}}</div>
        </div>
        
        <div class="banner">
        <div class="settingPos">
            alter Passwort: <br>
            <input type="password" ng-model="changePassword.old"> <br><br>
            neues Passwort: <br>
            <input type="password" ng-model="changePassword.new1"> <br><br>
            neues Passwort wiederholen: <br>
            <input type="password" ng-model="changePassword.new2"> <br><br>
            <button class="passwordSave" ng-click="passwordChange(changePassword)">Speichern</button>
            <div class="passwordError">{{passwordChangeError}}</div>
        </div>
        </div>
        
      