<div class="headlist clearfix">
            <div class="headLeft title" ng-click="go('/')">VoteDOM</div>
            <div class="headLeft" ng-click="go('/')">Home</div>
            <div class="headRight" ng-click="go('/login')">Login</div>
            <div class="headRight chosen" ng-click="go('/signUp')">Sign Up</div>
        </div>
        
        <div class="banner ">
            <div class="bannerText">
                <h1>VoteDOM</h1><br>
                <p>Erstelle deine eignen Umfragen</p><br>
                <h4>Nur noch ein kleinen Moment bis es los geht</h4>
            </div>
        </div>
        
        <div class="userdata">
            <form >
                Name: <br>
                <input type="text" ng-model="newUser.name"> <br><br>
                E-Mail: <br>
                <input type="email" ng-model="newUser.email"> <br><br>
                Passwort: <br>
                <input type="password" ng-model="newUser.password"> <br><br>
                <button type="button" ng-click="newSubmit(newUser)">Registrieren</button>
            </form>
            <p>{{regError}}</p>
        </div>    
     
     
        
      