<div class="headlist clearfix">
            <div class="headLeft title" ng-click="go('/userHome')">VoteDOM</div>
            <div class="headLeft" ng-click="go('/userHome')" ng-show="user">Home</div>
            <div class="headLeft" ng-click="go('/')" ng-show="gast">Home</div>
            <div class="headRightNew auswahl" ng-click="logout()" ng-show="user">Logout</div>
            <div class="headRightNew auswahl" ng-click="go('/settings')" ng-show="user">Settings</div>
            <div class="headRight" ng-click="go('/login')" ng-show="gast">Login</div>
             <div class="headRight" ng-click="go('/signUp')" ng-show="gast">Sign Up</div>
            <div class="headRightNew">Hi {{userName}}</div>
        </div>
        
        <div class="banner ">
            <div class="bannerText">
                <h1 class="bannerHeader">VoteDOM</h1><br>
                <p>Erstelle deine eignen Umfragen</p><br>
                <div class="umfrageBox">
                    <div class="umfrageButton auswahl" ng-click="go('/userUmfrage')" ng-show="user">Umfrage erstellen</div>
                    <div class ="umfrageButton auswahl bannerButtonAuswahl" ng-click="go('/userHome')" ng-show="user">Meine Umfragen</div>
                    <div class="signUpButtonNew" ng-click="go('/signUp')" ng-show="gast">Sign Up</div>
                </div>    
            </div>
        </div>
        
        <div class="mittig umfrageAnzeige" ng-show="abstimmenShow">
            <div>
                <h1>{{umfrageDaten.title}}</h1>
                <div ng-repeat="option in optionen">
                    <button class="umfrageOptionen" ng-click="auswahl(option)"><h3>{{option}}</button>
                </div>
                 
            </div>
        </div>
        
        <div class="mittig umfrageAnzeige" ng-show="abstimmungsErgebnis">
            <h1>{{umfrageDaten.title}}</h1>
            <div>
               <svg width="960" height="500"></svg>
            </div>
        </div>

        