<div class="headlist clearfix">
            <div class="headLeft title" ng-click="go('/userHome')">VoteDOM</div>
            <div class="headLeft" ng-click="go('/userHome')">Home</div>
            <div class="headRightNew auswahl" ng-click="logout()" >Logout</div>
            <div class="headRightNew auswahl" ng-click="go('/settings')">Settings</div>
            <div class="headRightNew">Hi {{userName}}</div>
        </div>
        
        <div class="banner ">
            <div class="bannerText">
                <h1 class="bannerHeader">VoteDOM</h1><br>
                <p>Erstelle deine eignen Umfragen</p><br>
                <div class="umfrageBox">
                    <div class="umfrageButton auswahl" ng-click="go('/userUmfrage')" >Umfrage erstellen</div>
                    <div class ="umfrageButton auswahl bannerButtonAuswahl" ng-click="go('/userHome')">Meine Umfragen</div>
                </div>    
            </div>
        </div>
        
        <div class="mittig"><h1>Deine Umfragen:</h1>
        <table class="table umfrageAnzeige ">
            <thead>
                <th class="mittig"><h3>title</h3></th>
                <th class="mittig"><h3>stimmen</h3></th>
                <th class="mittig"><h3>link</h3></th>
            </thead>
            <tbody ng-repeat="daten in umfrageDaten">
                <th class="mittig">{{daten.title}}</th>
                <th class="mittig">{{daten.stimmenGes || 0}}</th>
                <th class="mittig"><a href={{daten.umfragenUrl}}>{{daten.umfragenUrl}}</a></th>
            </tbody>
        </table>
        </div>